serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1
default=boot
timeout=0

load_env

# if otab_part_default is not defined yet, boot from 2 partition as default
if [ "${otab_part_default}" ] ; then
   set otab_part_current="${otab_part_default}"
   save_env otab_part_current
else
   set otab_part_current="2"
   save_env otab_part_current
fi

# Boot once into new system after update
if [ "${otab_part_next}" ] ; then
   set otab_part_current="${otab_part_next}"
   save_env otab_part_current
   unset otab_part_next
   save_env otab_part_next
fi

if [ ${otab_part_current} -eq "3" ] ; then
   set otab_kernel_image="<OTAB_KERNEL_IMAGE_B>"
   set otab_root_device="<OTAB_LABEL_ROOTFS_B>"
else
   set otab_kernel_image="<OTAB_KERNEL_IMAGE_A>"
   set otab_root_device="<OTAB_LABEL_ROOTFS_A>"
fi

save_env otab_kernel_image
save_env otab_root_device

set otab_rootrwreset=no
# Clear RW overlay on the next boot
if [ "${otab_rootrwreset_next_boot}" ] ; then
   unset otab_rootrwreset_next_boot
   save_env otab_rootrwreset_next_boot
   set otab_rootrwreset=yes
fi
save_env otab_rootrwreset

# if otab_serial_default is not defined, the serial console is disabled
if [ "${otab_serial_default}" ]; then
   set otab_serial="${otab_serial_default}"
   save_env otab_serial
fi

menuentry 'boot'{
  linux /${otab_kernel_image} rootwait root=LABEL=${otab_root_device} rootfstype=ext4 rootrw=LABEL=rwoverlay rootrwfstype=ext4 rootrwoptions=rw,noatime,data=journal,sync rootrwreset=${otab_rootrwreset} console=${otab_serial} console=tty0 oops=panic panic=30
}
